@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,800;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #E8063C;
  --color-primary-hover: #a41335;
  --doc-height: 100%;
  --doc-width: 100%;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgb(232, 238, 237);
  --color-background: #f6f6f9;
  --color-background-header: rgba(35, 47, 62);
  --border-bottom: 0.5px solid rgb(61, 60, 60);
  --color-dim: rgb(102, 102, 104);
  --box-shadow: 0 2rem 3rem var(--color-light);
}
.dark-theme {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-light: rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  width: var(--doc-width);
  height: var(--doc-height);
  font-size: 0.85rem;
  background: var(--color-background);

  transition: 0.5s ease;
  overflow-x: hidden;
}
button:disabled{
  cursor: not-allowed !important;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
h2 {
  font-size: 1.4rem;
  /* color: #333; */
}
h3 {
  font-size: 0.9rem;
  /* color: #333; */
}
h4 {
  font-size: 0.8rem;
  /* color: #333; */
}
h5 {
  font-size: 0.77rem;
  /* color: #333; */
}
p {
}
.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-answer.expanded {
  max-height: 100px; /* Adjust to fit your content height */
}
.accordion h1 {
  text-align: center;
  margin-bottom: 1rem;
  /* font-family: Cambria, Cochin, Georgia, Times, "T/imes New Roman", serif; */
  font-style: italic;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  z-index: 999;
}

.back-to-top:hover {
  background-color: #0056b3;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top.hide {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-card {
  width: 400px;
  padding: 1.8rem;
  border-top: 5px solid rgb(25, 154, 177);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(245, 245, 245);
  /* padding-left: 4rem; */
  /* padding-right: 4rem; */
}
.login-input input {
  display: block;
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: rgb(246, 253, 252);
  border: 1px solid rgb(214, 212, 212);
}
.login-input input:focus {
  outline: none !important;
  border: 2px solid rgb(25, 154, 177);
  box-shadow: 0 0 6px rgb(25, 154, 177);
}
.login-btn {
  background-color: var(--color-primary);
  padding: 7px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
  width: 100%;
  transition: 0.2s ease;
}
.login-btn:hover {
  background-color: var(--color-primary-hover);
}
.side-bar-main {
  background-color: rgb(255, 255, 255);
  width: 250px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: 0.4s ease;
  display: none;
  /* padding: 0.3rem 3rem; */
}
.not-active {
  margin-left: -250px;
}

.sidebar-section {
  width: 100%;
}

.sidebar-logo {
  width: 160px;
  height: 80px;
  margin: auto;
  margin-top: 0.8rem;
}
.sidebar-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidebar-content {
  width: 100%;
  padding: 1rem 1.5rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.bb {
  min-height: 70vh;
}
.fa-sidebar-icon {
  font-size: 1.5rem;
  color: rgb(151, 145, 145);
}
.fa-sidebar-icon {
  font-size: 1.6rem;
}
.fa-sidebar-icon.active {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.hey {
  width: 100%;
  /* border: 2px solid red; */
}
.side {
  /* border: 2px solid green; */
  width: 10%;
  gap: 15px;
  transition: 0.5s ease;
  cursor: pointer;
  /* border: 2px solid red; */
}
.side:hover .fa-sidebar-icon {
  color: var(--color-primary);
}
.side:hover p {
  color: black;
}
.side p {
  font-size: 1rem;
  color: rgb(83, 83, 83);
}
.sidebar-content:hover {
  background-color: #dce1eb;
}
.sidebar-content:hover .side {
  margin-left: 20px;
}
.sidebar-content:hover .fa-sidebar-icon {
  color: var(--color-primary);
}
.main {
  flex: 1;
  background-color: rgb(232, 240, 243);
  box-sizing: border-box;
  display: flex;
  /* border: 2px solid yellow; */
  flex-direction: column;

  width: 100%;
}
.hi {
  width: 100%;
  border: 2px solid red;
  margin-left: 250px;
}
.full {
  margin-left: 0;
  flex: 1;
  transition: 0.4s ease;
  width: 100%;
}

.side-bar-main {
  background-color: rgb(255, 255, 255);
  width: 250px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: 0.4s ease;
  display: none;
  /* padding: 0.3rem 3rem; */
}
.not-active {
  margin-left: -250px;
}

.small-sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  transition: 0.6s ease;
  /* display: none; */
}
.small-sidebar {
  width: 100%;
  background-color: white;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.2s ease;

  /* align-items: center; */
}
.not-active-sidebar {
  display: none;
  width: 0;
}
.times {
  position: absolute;
  top: 1rem;
  left: 10px;
  font-size: 1.9rem;
  color: rgb(190, 68, 68);
  cursor: pointer;
}
.times:hover {
  border: 1px solid rgb(219, 216, 216);
}
.header-main {
  background-color: rgb(255, 255, 255);
  padding: 1.28rem 0.5rem;
  /* position: fixed; */
  border-bottom: 1px solid rgb(224, 221, 221);
  position: sticky;
  top: 0;
  /* top: 0; */
  /* width: 82vw; */
  z-index: 99
}
.sidebar-section {
  width: 100%;
}
.header-logo {
  width: 160px;
  height: 80px;
}
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidebar-logo {
  width: 160px;
  height: 80px;
  margin: auto;
  margin-top: 0.8rem;
}
.sidebar-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sidebar-content {
  width: 100%;
  padding: 1rem 1.5rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.bb {
  min-height: 70vh;
}
.fa-sidebar-icon {
  font-size: 1.5rem;
  color: rgb(151, 145, 145);
}
.fa-sidebar-icon {
  font-size: 1.6rem;
}
.fa-sidebar-icon.active {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.side {
  /* border: 2px solid green; */
  width: 80%;
  gap: 15px;
  transition: 0.5s ease;
  cursor: pointer;
  /* border: 2px solid red; */
}
.side:hover .fa-sidebar-icon {
  color: var(--color-primary);
}
.side:hover p {
  color: black;
}
.side p {
  font-size: 1rem;
  color: rgb(83, 83, 83);
}
.sidebar-content:hover {
  background-color: #dce1eb;
}
.sidebar-content:hover .side {
  margin-left: 20px;
}
.sidebar-content:hover .fa-sidebar-icon {
  color: var(--color-primary);
}
.home {
  background-color: rgb(232, 240, 243);
  min-height: 100%;
  /* margin-left: 2509px; */
}

.full {
  margin-left: 0;
  flex: 1;
  transition: 0.4s ease;
  /* width: 100%; */
}

.dropdownn {
  background-color: var(--color-primary);
  border: none !important;
  border-radius: 3px;
}
.dropdownn:hover {
  background-color: var(--color-primary-hover);
  color: white;
}
.dropdownn button {
  background-color: var(--color-primary);
  border: none !important;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
.dropdown-menu {
  padding: 0 !important;
  width: 30px !important;
  background-color: rgb(42, 212, 184);
  text-align: center;
}
.dropdown-menu li a {
  color: rgb(110, 110, 110) !important;
}
.dropdown-menu li a:hover {
  background: rgb(40, 184, 160) !important;
}
.dropdown button span {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-user {
  color: var(--color-primary);
  font-size: 10px;
}
.hey:first-child {
  margin-top: 40px !important;
}
@media (max-width: 576px) {
  .chart-cont {
    width: 100% !important;
  }
  .login-card {
    width: 100%;
  }
}
@media (max-width: 456px) {
  .dashboard {
    font-size: 1.4rem;
  }
}
@media (max-width: 390px) {
  .img-logo {
    width: 100px;
    height: 30px;
  }
  .small-sidebar-wrapper {
    padding: 1rem;
  }
}
@media (max-width: 320px) {
  .dashboard {
    display: none;
  }
  .sc-container {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .login-card {
    width: 100%;
  }
  .side-bar-main {
    display: block;
    /* padding: 0.3rem 3rem; */
  }
  .main {
    margin-left: 250px;
    transition: 0.4s ease;
  }
  .header-main {
    background-color: rgb(255, 255, 255);
    padding: 1.78rem 2.5rem;
    /* position: fixed; */
    position: sticky;
    top: 0;
    /* top: 0; */
    /* width: 82vw; */
    z-index: 2;
  }
}

.svg {
  cursor: pointer;
}

/* CHILD PROFILE */
/* Responsive Table Styling */

/* Responsive Table Styling */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

}
.user-table-container {
  background-color: white;
  padding: 1rem;
}

.responsive-table th,
.responsive-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.responsive-table th {
  background-color: #3498db;
  color: white;
}

.responsive-table tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}

/* User Profile Styling */
.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.user-profile {
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  margin: 20px;
  width: 100%;
}

.user-card {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.user-header {
  background-color: #3498db;
  color: white;
  padding: 20px;
}

.user-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-details div {
  flex: 1;
}

.parent-info {
  flex: 1;
  margin-left: 20px;
}

.user-card h1,
.user-card h2,
.user-card p {
  color: #333;
}

.user-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.stats-card {
  padding: 2.5rem 2rem;
  background-color: white !important;
  border-bottom: 5px solid rgb(146, 47, 47) !important;
  border-radius: 4px;
}
.stats-card h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.stats-icon {
  padding: 0.9rem;
  background-color: var(--color-danger);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
}
.stats-icon-fa {
  font-size: 1.5rem;
  color: rgb(146, 47, 47);
}
.pending {
  color: #ffbb55;
}
.interview {
  background-color: rgb(160, 197, 204);
  color: rgb(48, 109, 121);
}
.pendingg {
  color: #da9631;
  background-color: #e6de9a;
}
.pending-icon-cont {
  background-color: #f1dec1;
}
.pending-bottom {
  border-bottom: 5px solid #ffbb55;
}
.scheduled {
  color: rgb(18, 106, 138);
}
.scheduled-icon-cont {
  background-color: rgb(18, 106, 138);
}
.scheduled-bottom {
  border-bottom: 5px solid rgb(18, 106, 138);
}
.declined {
  color: #b65335;
}
.declinedd {
  color: #b65335;
  background-color: var(--color-danger);
}
.declined-icon-cont {
  background-color: #ebaa97;
}
.decliined-bottom {
  border-bottom: 5px solid#b65335;
}

.staff-profile {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.staff-profile:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.staff-profile h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 776px) {
  .profile-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.profile-details label {
  font-weight: bold;
  color: #555;
}

.profile-details input,
.profile-details select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.profile-details input:focus,
.profile-details select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-container {
  margin-top: 20px;
  text-align: right;
  display: flex;
  justify-content: end;
}

.update-profile-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: self-end;
}
.update-profile-btn:disabled {
  cursor: not-allowed;
  background-color: rgb(234, 230, 230) !important;
}

.update-profile-btn:hover {
  background-color: #1d8749 !important;
}
.update-profile-btn:disabled:hover {
  background-color: rgb(234, 230, 230) !important;
}
/* Styling for the button */
.att {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Hover effect */
.att:hover {
  background-color: #3498db;
  color: #fff;
}
.at:hover {
  background-color: #26ae5f;
}

/* Add some animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Apply animations to the button */
.att {
  animation: fadeIn 0.5s ease-in-out, scaleIn 0.5s ease-in-out;
}
.at {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(64, 143, 77);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.attendance-button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.attendance-button.marked {
  background-color: #28a745;
  color: #fff;
}

.attendance-button:hover {
  background-color: #007bff;
  color: #fff;
}
.attendance-history {
  padding: 20px;
  background-color: white;

}

.course-attendance {
  margin-bottom: 30px;
  /* border: 2px solid red; */
    overflow-x: auto;
}

.course-attendance h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.attendance-table th,
.attendance-table td {
  padding: 10px;
  border: 1px solid #cccccc;
}

.attendance-table th {
  background-color: #f5f5f5;
}

.attendance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.attendance-table tbody tr:hover {
  background-color: #e9e9e9;
  transform: scale(1.02);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.attendance-table tbody tr td {
  /* font-weight: bolder; */
}
.attendance-table tbody tr.present {
  background-color: #c8e6c9; /* Green color for 'Present' status */
}

.attendance-table tbody tr.absent {
  background-color: #ffcdd2; /* Red color for 'Absent' status */
}



.small-sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  transition: 0.6s ease;
  /* display: none; */
}
.small-sidebar {
  width: 100%;
  background-color: white;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.2s ease;

  /* align-items: center; */
}
.not-active-sidebar {
  display: none;
  width: 0;
}
.img-logo {
  width: 164px;
  height: 50px;
}
.times {
  position: absolute;
  top: 1rem;
  left: 10px;
  font-size: 1.5rem;
  color: rgb(190, 68, 68);
  cursor: pointer;
}
.times:hover {
  border: 1px solid rgb(219, 216, 216);
}
.small-sidebar-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.small-sidebar-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
